In [1]:
import numpy as np
import pandas as pd
import build_matrix as test_code

In [2]:
result = test_code.get_rating_matrix("movie_rating.csv")

In [3]:
result.head()

                    rating                                      \
target        Just My Luck Lady in the Water Snakes on a Plane
source
Claudia Puig             3               0.0               3.5
Gene Seymour             0               3.0               3.5
Jack Matthews            0               3.0               4.0
Lisa Rose                3               2.5               3.5
Mick LaSalle             2               3.0               4.0


target        Superman Returns The Night Listener You Me and Dupree
source
Claudia Puig               0.0                4.5               0.0
Gene Seymour               0.0                3.0               3.5
Jack Matthews              5.0                3.0               3.5
Lisa Rose                  3.5                3.0               2.5
Mick LaSalle               3.0                3.0               0.0

In [4]:
freq = test_code.get_frequent_matrix("1000i.csv")

In [6]:
freq

       count                                                        ...   \
target    0     1     2     3     4     5     6     7     8     9   ...
source                                                              ...
1       19.0  17.0  14.0  11.0  17.0  25.0   7.0  22.0   5.0  18.0  ...
2       20.0  16.0  10.0  15.0  17.0  18.0  10.0  13.0   5.0  19.0  ...
3       12.0  16.0  13.0  19.0  23.0  19.0   5.0  14.0   5.0  18.0  ...
4       14.0  14.0  19.0  11.0  11.0  18.0   7.0  16.0   7.0  17.0  ...
5       13.0   7.0   8.0  15.0  13.0  16.0   3.0  19.0  11.0  12.0  ...


target    40    41    42    43    44    45    46    47    48    49
source
1       15.0  14.0  20.0   9.0  12.0  16.0  11.0   9.0  11.0  12.0
2       13.0  12.0  15.0   9.0  13.0  16.0  16.0  10.0  16.0   9.0
3       10.0  14.0  10.0  17.0  15.0  16.0  11.0  17.0   9.0  11.0
4        9.0  16.0  18.0  12.0  16.0  16.0  26.0  16.0  12.0  20.0
5       11.0  10.0  16.0   8.0  13.0  20.0  14.0  18.0  21.0   3.0

[5 rows x 50 columns]